<app-navigation></app-navigation>
<div class="container">
  <div class="row mt-5">
    <div class="col">
      <img
        src="../../assets/home/windows-eGNLSgazDVU-unsplash.jpg"
        alt=""
        style="width: 100%"
      />
    </div>
    <div class="col">
      Hello, my name is Hyeyoung Kim. I am a self-taught developer based in
      Richardson, Texas area. I majored Economics and Statistics at Ewha Womans
      University and worked 4 years as a financial analyst at TK Elevator at
      South Korea. I found myself having interest in coding and building logical
      things and decided to learn programming. I am looking for chances to
      develop my programming skills in both front-end and backend and deliver
      values to both end-users and businesses. I do not need visa sponsor.
    </div>
  </div>
  <h2 class="red-text text-center mt-5">Skills</h2>
  <img
    src="https://angular.io/assets/images/logos/angular/angular.svg"
    alt="angular"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-original.svg"
    alt="typescript"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-original.svg"
    alt="javascript"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/bootstrap/bootstrap-plain-wordmark.svg"
    alt="bootstrap"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original-wordmark.svg"
    alt="css3"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg"
    alt="html5"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg"
    alt="nodejs"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg"
    alt="express"
    class="p-logo"
  />
  <img
    src="https://www.vectorlogo.zone/logos/getpostman/getpostman-icon.svg"
    alt="postman"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg"
    alt="mongodb"
    class="p-logo"
  />
  <img
    src="https://raw.githubusercontent.com/devicons/devicon/master/icons/postgresql/postgresql-original-wordmark.svg"
    alt="postgresql"
    class="p-logo"
  />
  <img
    src="https://cdn.worldvectorlogo.com/logos/pug.svg"
    alt="pug"
    class="p-logo"
  />
  <img
    src="https://www.vectorlogo.zone/logos/jasmine/jasmine-icon.svg"
    alt="jasmine"
    class="p-logo"
  />
  <img
    src="https://www.vectorlogo.zone/logos/git-scm/git-scm-icon.svg"
    alt="git"
    class="p-logo"
  />
</div>
