<app-navigation></app-navigation>
<div class="container mt-3">
  <div class="row">
    <div class="col-sm-3">
      <a
        class="card"
        href="https://www.linkedin.com/in/hyeyoung-kim-900/"
        target="_blank"
      >
        <i class="contact-icon mx-auto bi bi-linkedin text-bg-primary"></i>
        <div class="overlay overlay-top text-white text-bg-primary">
          <span class="text"
            ><i class="bi bi-link-45deg"></i
            >https://www.linkedin.com/in/hyeyoung-kim-900/</span
          >
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="card" href="https://github.com/hykim-soulis/" target="_blank">
        <i class="contact-icon mx-auto bi bi-github text-bg-success"></i>
        <div class="overlay overlay-bottom text-white text-bg-success">
          <span class="text">
            <i class="bi bi-link-45deg"></i>https://github.com/hykim-soulis/
          </span>
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="card">
        <i class="contact-icon mx-auto bi bi-envelope-fill text-bg-danger"></i>
        <div class="overlay overlay-left text-white text-bg-danger">
          <span class="text"
            ><i class="bi bi-link-45deg"></i>hyeyoung9002@gmail.com</span
          >
        </div>
      </a>
    </div>
    <div class="col-sm-3">
      <a class="card" href="http://localhost:4200/" target="_blank">
        <i
          class="contact-icon mx-auto bi bi-globe text-bg-warning text-white"
        ></i>
        <div class="overlay overlay-right text-white text-bg-warning">
          <span class="text"
            ><i class="bi bi-link-45deg"></i>http://localhost:4200/</span
          >
        </div>
      </a>
    </div>
  </div>
</div>
