<app-navigation></app-navigation>

<div class="container">
  <h2 class="red-text text-center mt-5 mb-4">Let's work together!</h2>
</div>
<div class="container text-center" style="height: 600px">
  <div
    class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4"
  >
    <div class="col my-3">
      <a
        class="card"
        href="https://www.linkedin.com/in/hyeyoung-kim-900/"
        target="_blank"
      >
        <i class="contact-icon mx-auto bi bi-linkedin text-bg-primary"></i>
        <div
          class="overlay overlay-top text-white text-bg-primary bg-opacity-75"
        >
          <span class="text"
            ><i class="bi bi-link-45deg"></i
            >https://www.linkedin.com/in/hyeyoung-kim-900/</span
          >
        </div>
      </a>
    </div>
    <div class="col my-3">
      <a class="card" href="https://github.com/hykim-soulis/" target="_blank">
        <i class="contact-icon mx-auto bi bi-github text-bg-success"></i>
        <div
          class="overlay overlay-bottom text-white text-bg-success bg-opacity-75"
        >
          <span class="text">
            <i class="bi bi-link-45deg"></i>https://github.com/hykim-soulis/
          </span>
        </div>
      </a>
    </div>
    <div class="col my-3">
      <a class="card">
        <i class="contact-icon mx-auto bi bi-envelope-fill text-bg-danger"></i>
        <div
          class="overlay overlay-left text-white text-bg-danger bg-opacity-75"
        >
          <span class="text">hyeyoung9002@gmail.com</span>
        </div>
      </a>
    </div>
    <div class="col my-3">
      <a class="card" href="http://localhost:4200/" target="_blank">
        <i
          class="contact-icon mx-auto bi bi-globe text-bg-warning text-white"
        ></i>
        <div
          class="overlay overlay-right text-white text-bg-warning bg-opacity-75"
        >
          <span class="text"
            ><i class="bi bi-link-45deg"></i>http://localhost:4200/</span
          >
        </div>
      </a>
    </div>
  </div>
</div>
