.container {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}
.overlay {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.active {
  color: blue;
}
