/* .wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
} */
.wrapper {
  place-items: center;
  background-image: url(../../assets/background/nattu-adnan-Ai2TRdvI6gM-unsplash.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
  display: grid;
  place-items: center;
}

.typing-demo {
  color: white;
  width: 20ch;
  animation: typing 2s steps(20), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 3em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.click-here {
  color: white;
  cursor: pointer;
}
